<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Mirage</title>
</head>
<body>
<h1>Welcome to Mirage</h1>

<p>Below are any responses you are currently hosting. Click the response itself to peek at it and click 'track' to view the last request that triggered it.<br/> 
    <br/>
    Patterns and delays are shown for responses that have them.<br/>
    <br/>
    Responses with '*' at the end are default responses. I.e. they will be returned, where appropriate, for requests to a sub endpoint if a response is not found at that level.<br/>
    <br/>
    <strong>Note:</strong> if requests or responses contain xml, you will need to view page source to see it properly.</p>

<% unless @responses.empty? %>
<table border="1" width='100%'>
    <% @responses.each do |key, response| %>
        <tr><td><a id='peek_response_<%=response.response_id%>' href="/mirage/templates/<%=response.response_id%>"><%=key%></a></td><td><a id='track_response_<%=response.response_id%>' href="/mirage/requests/<%=response.response_id%>">track</a></td></tr>
    <% end %>
</table>
<% end %>
</body>
</html>