- response = locals[:mock_response]

%div
  %label{:style => 'font-weight: bold'}
    endpoint:
  %a{href: "/templates/#{response.response_id}/body"} #{response.name}
  %br
  %label{:style => 'font-weight: bold'}
    status:
  #{response.response_spec.status}
  %br
  %label{:style => 'font-weight: bold'}
    Content-Type:
  #{response.response_spec[:content_type]}

  %br
  %label{:style => 'font-weight: bold'}
    delay:
  #{response.response_spec.delay}
  %br
  %label{:style => 'font-weight: bold'}
    default:
  #{response.default? ? 'true' : 'false'}
  %br
  %label{:style => 'font-weight: bold'}
    required http method:
  #{response.request_spec.http_method}
  %br
  %label{:style => 'font-weight: bold'}
    required headers:
  #{response.request_spec.headers.to_hash}
  %br
  %label{:style => 'font-weight: bold'}
    required parameters:
  #{response.request_spec.parameters.to_hash}
  %br
  %label{:style => 'font-weight: bold'}
    required body content:
  #{response.request_spec.body_content}
  %br
  %br
